@import "style/font-face.css";
@import "style/layout.css";
@import "style/navBar.css";
@import "style/header.css";
@import "style/btn.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --accent-color : rgb(101, 72, 152);
    --primary-color : white;
    --primary-dark : black;
}

li {
    list-style-type: none;
}

body {
    font-family: Genera, sans-serif;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg,
    rgb(101, 72, 152) 0%,
    rgb(146, 125, 182) 32.2449%,
    rgb(241, 238, 245) 100%) no-repeat;
    color: white;
    font-size: 1.6rem;
}

main {
    padding-top: 6.4rem;
    height: 100%;
}

.background {
    position: absolute;
    width: 100%;
    height: 50%;
    /*background-color: aqua;*/
    bottom: 0;
    z-index: -1;
    background-image: url("/assets/image/tafa3.0.png");
}