@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap');@import "style/layout.css";
@import "style/navBar.css";
@import "style/Heading.css";
@import "style/btn.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --accent-color : rgb(101, 72, 152);
    --primary-color : white;
    --primary-dark : black;
    --fontFamily : 'Inter', sans-serif;
}

li {
    list-style-type: none;
}

body {
    font-family: var(--fontFamily);
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg,
    rgb(101, 72, 152) 0%,
    rgb(146, 125, 182) 32.2449%,
    rgb(241, 238, 245) 100%) no-repeat;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
}

main {
    padding-top: 6.4rem;
    height: 100%;
}

.background {
    position: absolute;
    height: 100vh;
    width: 100%;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.background .wrapper {
    width: 80%;
    height: max-content;
    margin: 0 auto;
}

.background .wrapper img {
    width: 100%;
    opacity: 1;
    transform: scale(1.05);
}
