.btn {
    font-weight: bold;
    font-size: 1.8rem;
    padding: 2rem 4.2rem;
    width: max-content;
    color: var(--accent-color);
    border-radius: 100px;
}

.btn--full {
    background-color: var(--primary-color);
}