.btn {
    font-size: 1.8rem;
    padding: 1.8rem 3.2rem;
    width: max-content;
    color: var(--accent-color);
    border-radius: 100px;
    font-weight: 500;
    cursor: pointer;
    border: .3rem solid var(--primary-color);
    transition: all .5s ease-in-out;
}

.btn--full {
    background-color: var(--primary-color);
}

.btn--full:hover {
    background-color: transparent;
    color: var(--primary-color);
}