.Heading {
    /*padding-top: 3.2rem;*/
    flex-grow: 1;
    display: flex;
    height: 100%;
}

.Heading .wrapper {
    display: flex;
    align-items: center;
    height: max-content;
}

.Heading .header--main {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.Heading .header--main h1 {
    font-size: 8.2rem;
}

.Heading .header--main p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 2.4rem;
    font-weight: 500;
}

.Heading .header--second  {
    margin-left: auto;
    font-size: 24.0rem;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .Heading .wrapper {
       flex-direction: column;
       align-items: flex-start;
    }

    .Heading .header--main {
        width: 80%;
        order: 2;
    }

    .Heading .header--second {
        margin-left: 0;
        order: 1;
        font-size: 4.8rem;
    }
}