nav {
    width: 100%;
    display: flex;
    align-items: center;

}

nav .nav--list {
    display: flex;
    margin-left: auto;
}

nav .nav--list li {
    margin-right: 2.0rem;
    font-size: 1.8rem;
}